// Place all the styles related to the Recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table {
  border-collapse: collapse;
}

td {
  padding: 12px;
}

.even {
  background-color: #D6E1C3;
}

footer {
    height: 20px;
    background: #eee;
}