<!DOCTYPE html>
<html>
  <head>
    <title>Recipe Finder</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <footer><p>created by wolfieman</p></footer>
    <footer><p>Powered By Food2Fork.com</p></footer>
  </body>
</html>
